<div class='feefo-caro'>
  <div id="feefo-service-review-carousel-widgetId" class="feefo-review-carousel-widget-service"></div>
</div>
<script type="text/javascript" src="https://api.feefo.com/api/javascript/lovers-rock-diamonds"></script>
<div id="feefo-service-review-carousel-widgetId" class="feefo-review-carousel-widget-service"></div>
