---
layout: layouts/base.njk
section: ring
---

<article>
  <h1>RING</h1>
  <h1>{{ title }}</h1>
  <img src="{{ Image }}" />

  {{ layoutContent | safe }}

  <h2>Detailed Product Description</h2>
  <div>{{ summary }}</div>
  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</nav>
